.icon-tabs .icon-tabs {
	position: relative;
}
.icon-tabs .tab-info {
	left: 0;
	margin-left: -100%;
	position: absolute;
	text-align: center;
	top: 70px;
	width: 100%;
}
}
.icon-tabs .tab-content {
	text-align: center;
}
.icon-tabs .tab-content {
	padding-top: 20px;
}